*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    font-size: 20px;
}
.cover-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.mt-20{
    margin-top: 10px;

}
.mb-20{
    margin-bottom: 10px;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    color: #151515;
    font-weight: 700px;
}
/* p{
    line-height: 1.6;
    color: #777;
} */
span,a{
    display: inline-block;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/6956499/pexels-photo-6956499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.banner .caption h4{
    color: white;
    font-size: 40px;
}
.banner .caption h2{
    color: white;
    font-size: 70px;
    letter-spacing: -1px;
}
.banner .caption .social_icon a{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-shadow: 1px,1px,2px,rgba(0,0,0,0.5);
    font-size: 30px;
    transition: 0.5s all;
}
.banner .caption .social_icon a:hover{
    color: #2f438f;
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #0b0b0b;
}
.about img{
    height: auto;
    width: 320px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: rgb(196, 78, 78);
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p{
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background: rgb(196, 78, 78);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 40px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid rgb(196, 78, 78);
    cursor: pointer;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.bg{
    background-color: #ffffff;
}



.contact{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 650px;
	display: inline-block;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #d77676;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btnn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btnn:hover{
    background-color: #27ae60;
    border: #000000;
}

.field:focus{
    border: 2px solid rgba(242, 127, 127, 0.627);
    background-color: #fff;
}
.color{
    background-color: #d77676;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}